@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

::selection {
  color: var(--bg);
  background: var(--primary);
}

::-moz-selection {
  color: var(--bg);
  background: var(--primary);
}

:root {
  --primary: #6D709A;
  --secondary: #4C4F7B;
  --tertiary: #000333;
  --type: hsl(230, 10%, 60%);
  --foreground: hsl(0, 0%, 91%);
  --medium: hsl(0, 0%, 94%);
  --bg: hsl(0, 0%, 99%);
}

html,
body {
  background: var(--medium);
  color: var(--tertiary);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Droid Sans, Helvetica Neue, sans-serif;
}

h1{ margin: 0; }

h2{ 
  margin: 0;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.25em;
}

p{ 
  font-size: 20px;
  font-weight: 100; 
  line-height: 1.4em; 
  letter-spacing: 0.02em; 
  margin-bottom: 1.4em;
  margin-top: 0;
  max-width: 50ch;
}
p strong{
  font-weight: 500;
  color: var(--primary);
}
p:last-child{
  margin-bottom:0;
}

ul li{
  list-style: square inside;
}

nav{
  position: fixed;
  left: calc(50% - 190px);
  height: 75px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

nav a{
  position: relative;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--type);
  transition: all ease .4s;
  /* bottom: -2px; */
}

nav a:hover, 
nav a:focus{
  color: var(--secondary);
  /* bottom: 0; */
}

nav a::after {
  --tap-increment: -16px;
  content: "";
  position: absolute;
  top: var(--tap-increment);
  left: var(--tap-increment);
  right: var(--tap-increment);
  bottom: var(--tap-increment);
}

nav svg {
  position: relative;
  margin-right: 1em;
  bottom: -5px;
}

a {
  color: inherit;
  text-decoration: none;
  margin-right: 2em;
}

* {
  box-sizing: border-box;
}

.portrait {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 80vh;
  max-width: 750px;
  right: 0;
  bottom: 0;
}

.layout{
  position: absolute;
  bottom: 4.5em;
  width: 90%;
  left: 5%;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  display: grid;
  /* border: 1px solid hotpink; */
}

.end{
  display: flex;
  align-items: flex-end;
  /* border: 1px solid green; */
}



@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
  }
  .portrait{
    width: 100%;
  }
  .remove {
    display: none;
  }
}
