@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

html{ scroll-behavior: smooth; }

::selection {
  color: var(--bg);
  background: var(--primary);
}

::-moz-selection {
  color: var(--bg);
  background: var(--primary);
}

:root {
  --bg: #EEEDEE;
  --primary: #6D709A;
  --secondary: #a4a4a4;
  --tertiary: #8f8f8f;
  --accent: #ff8c00;
  --gradient-linear: linear-gradient(90deg, #b2ff42 20%, #0d8773 100%);
}

* {
  box-sizing: border-box;
  /* border: 1px solid rgb(0, 255, 94); */
  padding: 0;
  margin: 0;
  z-index: 1;
}

html,
body {
  background: rgb(195, 195, 195);
  color: rgb(94, 94, 94);
  font-family: 'Inter', Helvetica Neue, sans-serif;
  font-weight: 300;
  min-height: 100vh;
  min-height: 100dvh;
  /* height: -webkit-fill-available; */
  overflow: scroll;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

.hero{
  position: relative;
  top:0;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
.hero img{
  position: absolute;
  width: 100%;
  height: auto;
  opacity: .4;
}
.hero h1{
  position: absolute;
  bottom: 30px;
  left: 400px;
  color: white;
}

.menu{
  position: fixed;
  padding: 3em;
  top: calc(50vh - 150px);
  left: 280px;
  height: 300px;
  width: 350px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  z-index: 15;

  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
}

.scrollbar{
  position: fixed;
  display: inline-block;
  right: 2em;
  top: 2em;
  width: 5px;
  height: 1px;
  transform-origin: top;
  background: rgba(0, 0, 0, 0.15);
}

.copyright{
  position: fixed;
  bottom: 70px;
  color: grey;
  font-size: 8px;
  left: 80px;
}
.copyright span{
  position: relative;
  top: 1.4px;
  font-size: 12px;
}
.copyright a{
  color: var(--bg);
  text-decoration: none;
  margin-left: 2em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all ease .2s;
}
.copyright a:hover{ color: #fff; }

h1 {
  /* viewport 320 to 1600 = font-size 32px to 60px */
  font-size: calc(32px + (60 - 32) * ((100vw - 320px) / (1600 - 320)));
  letter-spacing: -0.05em;
  color: var(--secondary);
  margin-bottom: 50px;
}

h5{
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2em 0;
  color: var(--tertiary);
  font-size: 8px;
}
p {
  width: 100%;
  max-width: 60ch;
  /* viewport 320 to 1600 = font-size 16px to 28px */
  font-size: calc(16px + (28 - 16) * ((100vw - 320px) / (1600 - 320)));
  letter-spacing: .3%;
  line-height: 1.6em;
  margin-bottom: 1.4em;
}
p.intro{
  font-weight: 400;
  color: var(--tertiary);
  width: 100%;
  max-width: 60ch;
  /* viewport 320 to 1600 = font-size 32px to 80px */
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1600 - 320)));
  letter-spacing: 0;
  line-height: 1.6em;
  margin-bottom: 1.4em;
}
strong{ font-weight: 400;}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* extend click-area of a-tags */
a::after {
  --tap-increment: -32px;
  content: "";
  position: absolute;
  top: var(--tap-increment);
  left: var(--tap-increment);
  right: var(--tap-increment);
  bottom: var(--tap-increment);
}

.layout {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  gap: 10px;
  width: 100%;
  height: 100vh;
}

/* .portrait {
  grid-column: -2 / span 2;
  align-self: end;
} */
/* .portrait {
  width: 75vh;
  position: fixed;
  right: 0;
  bottom: 0;
} */
.portrait {
  width: 500px;
  height: auto;
  position: fixed;
  right: 0;
  bottom: 0;
}

.content {
  position: absolute;
  top: 46vh;
  left: 400px;
  width: 40%;
  grid-column: 2 / span 2;
  overflow: scroll;
}
.content p:last-child, 
.content h5:last-child{
  margin-bottom: 48.3vh;
}
.content::-webkit-scrollbar {
  display: none;
}
.content2 {
  position: absolute;
  top: 70vh;
  padding-bottom: 30vh;
  left: 400px;
  width: 40%;
  grid-column: 2 / span 2;
  overflow: scroll;
}

.scrollcontainer {
  position: absolute;
  right: 0;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;

  /* scroll snap */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.scrollcontainer::-webkit-scrollbar {
  display: none;
}
.thumbnail-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  color: white;
  background: rgb(157, 157, 157);
  width: 600px;
  height: 340px;
  border-radius: 8px;
  overflow: hidden;
  margin: 25vh 150px;
  scroll-snap-align: center;
  transition: all ease-in-out .4s;

box-shadow:
    0px 0.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 1.8px 5.3px rgba(0, 0, 0, 0.028),
    0px 3.4px 10px rgba(0, 0, 0, 0.035),
    0px 6px 17.9px rgba(0, 0, 0, 0.042),
    0px 11.3px 33.4px rgba(0, 0, 0, 0.05),
    0px 27px 80px rgba(0, 0, 0, 0.07);
}
.thumbnail-container .arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 50px;
  opacity: 1;
  width: 40px;
  scale: .5;
  transition: opacity ease .4s .2s, transform ease .3s, scale ease .2s;
}
.thumbnail-container:hover { background: rgb(60, 60, 60); }
.thumbnail-container img {
  height: 100%;
  width: 100%;
  padding: -2rem;
  position: absolute;
  object-fit: cover;
  opacity: 1;
  transition: opacity ease .8s;
}
.thumbnail-container h5 {
  position: absolute;
  color: white;
  bottom: 20px;
  opacity: 0;
  transform: translateY(5px);
  transition: opacity ease .4s, transform ease-in-out .2s;
}
.thumbnail-container:hover h5{
  opacity: 1;
  transform: translateY(0px);
}
.thumbnail-container:hover .arrow{
  /* transform: translate(2px,2px); */
  scale: .6;
}
.thumbnail-container:hover img{
  opacity: .6;
}

nav {
  position: fixed;
  top: calc(50% - 1px);
  left: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

nav a {
  font-size: 14px;
  word-spacing: 10px;
  text-transform: uppercase;
}

nav a span:nth-child(1) {
  display: inline-block;
  opacity: 1;
  font-weight: light;
  color: var(--tertiary);
  transform: translateX(0);
  transition: all cubic-bezier(.64, .62, .23, .99) 400ms;
}

nav:hover a span:nth-child(1) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(20px);
  text-shadow: 0 0 5px rgb(84, 84, 84), 0 0 10px rgb(84, 84, 84), 0 0 15px rgb(84, 84, 84);
}

nav a span:nth-child(2) {
  position: absolute;
  width: max-content;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  left: 0;
  transform: translateX(-30px);
  transition: all cubic-bezier(.64, .62, .23, .99) 400ms;
}

nav:hover a span:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}

.logo {
  position: fixed;
  top: calc(50% - 4px);
  left: 80px;
  width: 100px;
  height: 30px;
  filter: drop-shadow(5px 5px 5px rgba(30, 30, 30, 0.1));
}

/* bg-video */
.chrome {
  width: auto;
  height: 50vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  mix-blend-mode: darken;
  transform-origin: center center;
  /* pointer-events: none; */
}

.connect {
  position: fixed;
  top: calc(90% - 20px);
  right: 50px;
  background: white;
  width: 50px;
  height: 30px;
  border-radius: 30px;
  border-bottom-left-radius: 4px;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;

  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  will-change: box-shadow;

  box-shadow:
    0px 0.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 1.8px 5.3px rgba(0, 0, 0, 0.028),
    0px 3.4px 10px rgba(0, 0, 0, 0.035),
    0px 6px 17.9px rgba(0, 0, 0, 0.042),
    0px 11.3px 33.4px rgba(0, 0, 0, 0.05),
    0px 27px 80px rgba(0, 0, 0, 0.07);
  transition: box-shadow ease-in-out .3s;
}

.connect::after {
  --tap-increment: -16px;
  content: "";
  position: absolute;
  top: var(--tap-increment);
  left: var(--tap-increment);
  right: var(--tap-increment);
  bottom: var(--tap-increment);
}

.dots {
  flex-direction: row;
  display: flex;
  gap: 4px;
  position: absolute;
  top: 12px;
}

.connect .dot {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background: rgb(76, 76, 76);
}

.connect .description {
  font-size: 8px;
  font-weight: bold;
  transform: translateY(35px);
  opacity: 0;
  transition: all cubic-bezier(.64, .62, .23, .99) .4s;
}

.connect:hover {
  box-shadow: 0px 0.7px 2.2px -41px rgba(0, 0, 0, 0.008),
    0px 1.7px 5.3px -41px rgba(0, 0, 0, 0.012),
    0px 3.1px 10px -41px rgba(0, 0, 0, 0.015),
    0px 5.6px 17.9px -41px rgba(0, 0, 0, 0.018),
    0px 10.4px 33.4px -41px rgba(0, 0, 0, 0.022),
    0px 25px 80px -41px rgba(0, 0, 0, 0.03);
}

.connect:hover .description {
  opacity: 1;
  transform: translateY(30px);
}

a {
  color: rgb(111, 111, 111);
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #EEEDEE;
    background: black;
  }
} */

@media screen and (max-width:1060px) {
  .logo {
    top: 50px;
    left: calc(50% - 100px);
  }

  .layout {
    grid-template-columns: 30% 30% 30%;
    margin: 0 20px;
  }

  nav {
    top: 52px;
    left: calc(50% + 20px);
  }

  .chrome {
    display: none;
    visibility: hidden;
  }

  .connect {
    position: absolute;
    bottom: 50px;
    top: calc(100vh - 60px);
    left: calc(50% - 30px);
  }

  .content, .content2 {
    width: 90%;
    top: 45vh;
    left: 5%;
  }
  .content p:last-child,
  .content h5:last-child {
    margin-bottom: 5vh;
  }

  .hero{
    height: 40vh;
  }
  .hero h1{
    left: 5%;
    width: 90%;
  }

  .scrollcontainer {
    left: 0;
    width: 100%;
  }

  .thumbnail-container {
    width: 70%;
    height: 45%;
    border-radius: 8px;
    margin: 15vh 15%;
  }
  .thumbnail-container h5{
    opacity: 1;
    transform: translateY(0px);
  }

  p {
    width: 100%;
  }

  .portrait {
    position: relative;
    background: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width:720px) {
  .thumbnail-container {
    width: 90%;
    height: 300px;
    border-radius: 8px;
    margin: 15vh 5%;
  }
  .hero img { margin-top: 15%; }
  .content p:last-child,
  .content h5:last-child {
    margin-bottom: 2vh;
  }
}